<main>
  <section class="admin-section">
    <div class="container">
      <div class="title-container">
        <h1>¡Bienvenid@!</h1>
      </div>

      <div class="content-container">
        <div class="user-container">
          <div class="user-info_container">
            <p>Nombre:</p>
            <p>{{this.first_name}}</p>
          </div>
          <div class="user-info_container">
            <p>Edad:</p>
            <p>{{this.age}}</p>
          </div>
          <div class="user-info_container">
            <p>Correo electrónico:</p>
            <p>{{this.email}}</p>
          </div>
          <div class="user-info_container">
            <p>Rol:</p>
            <p>{{this.role}}</p>
          </div>
          <form action="/api/sessions/logout" method="get" class="form form-2">
            <button type="submit" class="logout-btn">Cerrar sesión</button>
          </form>
        </div>
      </div>

      <div class="product-container">
        <div class="title-container">
          <h2 class="title">Lista de productos</h2>
        </div>
        <div class="card-container">
          {{#each products}}
            <div class="product-card">
              <div class="product-card_content">
                <h4 class="product-card_category">{{this.category}}</h4>
                <h3 class="product-card_title">{{this.title}}</h3>
                <p class="product-card_description">{{this.description}}</p>
                <p class="product-card_price">$ {{this.price}}</p>
              </div>
              <div class="product-card_btns">
                <button
                  class="modify-btn"
                  data-product-id="{{this.id}}"
                >Modificar</button>
                <button
                  class="delete-product-btn"
                  data-product-id="{{this.id}}"
                >Eliminar</button>
              </div>
            </div>
          {{/each}}
        </div>
      </div>

      {{! FORMULARIO PARA AGREGAR UN PRODUCTO: }}
      {{!-- ENVIAR A OTRA SECCION --}}
      <div class="container container-light">
        <div class="title-container">
          <h2 class="title title-dark">Agregar un producto:</h2>
        </div>
        <form class="form" action="/api/products" method="post">
          <div class="form-field">
            <label
              for="title"
              class="form-field_label form-field_label-dark"
            >Nombre del producto:</label>
            <input
              type="text"
              name="title"
              id="title"
              placeholder="Ingresa un título para el producto"
              class="form-field_input form-field_input-dark"
              required
            />
          </div>
          <div class="form-field">
            <label
              for="description"
              class="form-field_label form-field_label-dark"
            >Descripción del producto:</label>
            <input
              type="text"
              name="description"
              id="description"
              placeholder="Ingresa una descripción para el producto"
              class="form-field_input form-field_input-dark"
              required
            />
          </div>
          <div class="form-field">
            <label
              for="code"
              class="form-field_label form-field_label-dark"
            >Código del producto:</label>
            <input
              type="number"
              name="code"
              id="code"
              placeholder="Ingresa un código para el producto"
              class="form-field_input form-field_input-dark"
              required
            />
          </div>
          <div class="form-field">
            <label
              for="price"
              class="form-field_label form-field_label-dark"
            >Precio:</label>
            <input
              type="number"
              name="price"
              id="price"
              placeholder="Ingresa un precio para el producto"
              class="form-field_input form-field_input-dark"
              required
            />
          </div>
          <div class="form-field">
            <label
              for="status"
              class="form-field_label form-field_label-dark"
            >Disponibilidad del producto:</label>
            <input
              type="text"
              name="status"
              id="status"
              placeholder="Ingresa la disponibilidad del producto"
              class="form-field_input form-field_input-dark"
              required
            />
          </div>
          <div class="form-field">
            <label
              for="stock"
              class="form-field_label form-field_label-dark"
            >Stock del producto:</label>
            <input
              type="number"
              name="stock"
              id="stock"
              placeholder="Ingresa el stock del producto"
              class="form-field_input form-field_input-dark"
              required
            />
          </div>
          <div class="form-field">
            <label
              for="category"
              class="form-field_label form-field_label-dark"
            >Categoría del producto:</label>
            <input
              type="text"
              name="category"
              id="category"
              placeholder="Ingresa la categoría del producto"
              class="form-field_input form-field_input-dark"
              required
            />
          </div>
          <div class="btn-container">
            <button type="submit" class="create-btn">Agregar</button>
          </div>
        </form>
      </div>
    </div>
  </section>
</main>
<script src="/js/index.js"></script>